<!DOCTYPE html>
<html>
  <head>
    <title>LHN Construction</title>
    <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Cairo:300,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="banner">
          <div class="row">
            <div class="col-sm-4">
              <h2>LHN</h2>
            </div>
            <div class="col-sm-8">
              <div class="nav_wrapper">
                <span class="nav"><%= link_to "Home", root_path %></span>
                <span class="nav"><%= link_to "Projects", projects_path %></span>
                <span class="nav"><%= link_to "Contacts", contacts_path %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="container">
        <div class="banner">
          <span class="nav"><%= link_to "Home", root_path %></span>
          <span class="nav"><%= link_to "Projects", projects_path %></span>
          <span class="nav"><%= link_to "Contacts", contacts_path %></span>
          <p>
            Add extra details here
          </p>
          <p>
            Web design by //JakeC
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
